<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(AltLayout)">
                <div>
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_mk6o3c37.json" class="mx-auto"
                                   background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    <p role="alert" class="fw-bolder">Sorry, there's nothing at this address.</p>
                    <a class="btn btn-outline-primary" href="">
                        Take me home
                    </a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>